# mless(1) keybindings
# to update: lesskey -o ~/.mless ~/.mlesskey
Q quit \1
:cq quit \1
[ prev-file
] next-file
S noaction E//scan\n
` noaction E\#\n
H quit H
N quit N
R quit R
k quit k
d quit d
\^ quit \^
